@import "common.css";

body {
    width: 400px;
    height: 300px;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 0.5em;
    border: black solid 1px;
    border-radius: 4px;
    background-color: white;
    z-index: 999;
    font-size: small;
    box-shadow: 2px 2px 2px #CCC;
    -webkit-box-shadow: 2px 2px 2px #CCC;
    user-select: none;
    -webkit-user-select: none;
}

#tooltip .name {
    font-weight: bold;
}

#tooltip .name, #slots span.name {
    max-width: 28em;
    overflow: hidden;
    white-space: nowrap;
}

#tooltip button {
    float: right;
}

#tooltip.completed button {
    display: none;
}

#tooltip button.resume {
    display: none;
}

#empty {
    display: none;
}

#slots {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#slots li {
    position: relative;
    height: 1.5em;
    font-size: 0.8em;
    margin-bottom: 10px;
    border-radius: 4px;
    color: black;
    text-shadow: 0 0 2px white;
    user-select: none;
    -webkit-user-select: none;
}

#slots .ui-state-highlight {
    height: 1.5em;
    line-height: 0.8em:
}

#slots li span {
    position: absolute;
    top: 2px;
}

#slots li span.name {
    left: 5px;
}

#slots li span.percent {
    right: 5px;
}

#slots li img {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#slots li.paused img {
    display: block;
}

#slots li.paused span.percent {
    display: none;
}

#slots div.progress {
    height: 1.5em;
    background: #ffde00 url(../images/glass.png) 50% 50% repeat-x;
    width: 0%;
}

